<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
  
  <body bgcolor="#f9e6a2">
<body>
    <center><font color="#ff8000"><h1>Hello User </h1></font>
  <hr color="#ff8000">
  
  <h3><font color="0080ff">Please enter the router's ip to be rules analysis</font></h3>
    <form method='post' action="/submit"> 
      <font color="#f9e6a2">a</font>IP:<font color="#f9e6a2">a</font> 
            <input type="text" name="ip" >
            <br><br>
            Port:
            <input type="text" name="port">
            <br><br>
            <input type="submit" value="Submit"style="width:80px;height:30px;font-size:15px;background-color:yellow">
            <input type="reset" value="Reset"style="width:80px;height:30px;font-size:15px;background-color:green">
    </form>
  </center>
</body>
</html>
