<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
  
  <body bgcolor="#FAE7E7">
<body>
    <center><font color="#C92626"><h1>Login</h1></font>


  <style>
  div {background-color:transparent;}
  #box-model1{

  	padding:  50px;
  	margin: 40px;
  	border: 2px double black;
  }
  </style>
  
  <h3><font color="0080ff">Please enter your account and password</font></h3>
    <form method='post' action="/login"> 
      <div id="box-model1"><font color="#f9e6a2"></font>account:<font color="#f9e6a2"></font> 
            <input type="text" name="account" account="account">
            <br><br>
            password:
            <input type="text" name="password" password="password">
            <br><br>
            <input type="submit" value="Login"style="width:80px;height:30px;font-size:15px;background-color:white">
            <input type="reset" value="Reset"style="width:80px;height:30px;font-size:15px;background-color:white">
            
    </form>
  </center>
</body>
</html>
